
footer
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    p.copyright.text-muted Copyright © oTukas 2019
            script(src='../vendor/jquery/jquery.min.js')
            script(src='../vendor/bootstrap/js/bootstrap.bundle.min.js')
            script(src='../js/clean-blog.min.js')
            script(src='../js/main.js')