doctype html
html(lang='en')
    include ./includes/head.pug
    body
    include ./includes/header.pug      
    header.masthead(style="background-image: url('/img/home-bg.jpg')")
        .overlay
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .site-heading
                        h1 EYECONIC
                        span.subheading Create major drama and definition with luxury lashes for every occasion
        
    .container
        .row
            .col-lg-8.col-md-10.mx-auto         
        != messages('message', locals)
        if errors 
            each error, i in errors
                div(class="alert alert-danger") #{error.msg}
        block content
    
    include ./includes/footer.pug